@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0 auto;
  max-width: 1280px;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #262626;
}