.navbar {
  max-width: 1280px;
  height: 80px;
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

li a:hover {
  border-bottom: 2px solid #262626;
}

.navbar > a {
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  margin: 2rem;
  padding: 10px 0;
  font-size: 1em;
}

.icons {
  margin: 0;
}

.icons svg {
  cursor: pointer;
}

.mobile_btn,
.mobile_icons {
  display: none;
}

@media screen and (max-width: 1279px) {
  .navbar {
    margin: 0 25px;
  }
}

@media screen and (max-width: 850px) {
  .icons {
    display: none;
  }

  .mobile_btn {
    display: block;
    position: absolute;
    right: 1em;
    cursor: pointer;

    z-index: 10;
  }

  .mobile_icons {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: -250%;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(252, 252, 252);
    z-index: 10;
    transition: right 0.8s;
  }

  ul {
    line-height: 5em;
  }

  li {
    font-size: 1.5em;
  }

  .navActive {
    right: 0;
    padding: 0;
  }

  .menu a {
    font-size: 1.5em;
  }
}
